@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');


.navbar {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    /*background-color: black !important;*/
    border-bottom: 10px solid #EE7214;
    padding: 30px 0;
}

/* Style for the brand and navigation links */
.nav-link {
    color: white !important;
    font-size: 1.5vw;
    padding-right: 2vw;
    padding-left: 2vw;
    /*margin-right: 4.0rem;*/
    overflow: visible;
}

.nav-brand {
    margin-right: 2vw;
}

/* Ensure the navigation dropdowns have the correct background color */
.navbar-nav .navDropDown {
    background-color: #527853 !important; /* Set dropdown background color */
}

.redirecting-style .logo{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    color: white;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-right: 17vw;
}


#navbar {
    background-color: #527853 !important; /* Set background color to black */
    border-bottom: 5px solid #EE7214; /* Highlight color bottom border */
    padding: 20px 0; /* Increase vertical padding to make navbar taller */

}

.redirecting-style{

    text-decoration: none;
}