@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.main-music-gen{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: darkslategray;
    color: whitesmoke;
}
.main-row-music-gen{
    max-height: 85vh;
    display: inline;
}
.form-music{

}
.input-music-gen{
    outline: 3px solid beige;
    border: 3px solid darkslategray;
    width: 40vw;
    min-width: 30vw;
    height: 20vh;
    border-radius: 10vh;
    align-self: flex-end;
    resize: none;
    overflow-y: auto;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: darkslategray;
    transition: ease-in-out 0.1s;
    background-color: beige;
}
.input-button-music{
    outline: 3px solid darkorange;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    align-self: flex-end;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: darkorange;
    color: darkslategray;
    font-weight: 700;

    transition: ease-in-out 0.1s;

}
.bi-send-fill{
    color: beige;

}
.input-button-music:hover{

    background-color: darkorange;
    border: 5px solid whitesmoke;
    color: whitesmoke;

}

.input-music-gen:hover{
    border: 5px solid darkorange;
    color: darkslategray;
}

.input-col-music-gen{

    padding-top: 10vh;
    height: 50vh;

}
.results-col-music-gen{

    height: 35vh;
}